.loader {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loader .loader-inner {
    width: 100px;
    height: 100px;
    background: url("../loader.gif") center center no-repeat; }

.loader-fade {
  opacity: 0;
  transition: all 1s ease; }

.loader-remove {
  display: none; }

body {
  /* background: #f4f4f4; */ }

#main-nav {
  transition: all 0.5s ease-out; }
  #main-nav .nav-item {
    margin-left: 1rem; }

.navbar-shadow {
  box-shadow: inset 0px 31px 150px rgba(0, 0, 0, 0.9); }

.navbar-border {
  border-bottom: 2px solid #e4c30b; }

.navbar-brand {
  font-size: 1.5rem; }

#showcase {
  position: relative; }

#showcase .showcase-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 100px 200px rgba(0, 0, 0, 0.9);
  color: #fff; }

.what-icon {
  padding: 0.5rem;
  background: #e4c30b;
  color: #333;
  border-radius: 10px;
  margin-right: 0.5rem; }

#newsletter {
  background: url("../img/newsletter.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

#about {
  position: relative; }

#about #about-slides {
  height: 75vh !important; }

#about .about-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.75);
  /* box-shadow: inset 0px 100px 200px rgba(0, 0, 0, 0.9); */
  color: #fff; }

#about .about-text {
  width: 75%;
  margin: 0 auto; }

#about .next,
#about .prev {
  font-size: 2rem; }

#contact {
  background: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

#newsletter .dark-overlay,
#contact .dark-overlay,
#video .dark-overlay,
#about-header .dark-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.725); }

#testimonial .card:hover {
  background: #e4c30b; }

#testimonial img {
  margin-top: -50px;
  z-index: 99; }

#testimonial .testimonal-name {
  font-size: 1.5rem; }

#testimonial .glider-prev,
#testimonial .glider-next {
  margin-top: 100px; }

.column-container {
  column-count: 3;
  column-gap: 0rem; }
  .column-container a:hover {
    cursor: zoom-in; }

#video {
  background: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

#about-header {
  background: url("../img/about-page.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

#history img {
  margin-top: -20%; }

#how .carousel-item {
  height: 400px; }

#how .how-img-1 {
  background: url("../img/about1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#how .how-img-2 {
  background: url("../img/about2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#how .how-img-3 {
  background: url("../img/about3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#how .how-img-4 {
  background: url("../img/about4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#how .how-img-5 {
  background: url("../img/about5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

@media (max-width: 768px) {
  #showcase h1 {
    font-size: 4rem; }

  #about #about-slides {
    height: 94vh !important; }

  #about .about-text {
    width: 100%; }

  #about .next,
  #about .prev {
    display: none; }

  .glider-contain .glider-prev {
    margin-left: 1.5rem; }

  .glider-contain .glider-next {
    margin-right: 1.5rem; }

  #history .col-md-6 {
    align-self: center; }

  #history img {
    margin-top: 0px; }

  #who img {
    margin-bottom: 1rem; } }
@media (max-width: 576px) {
  .mb-resp {
    margin-bottom: 1rem; }

  #about-header .display-4 {
    font-size: 2.6rem; }

  #history .col-lg-7 {
    order: 2; }

  #history .col-lg-5 {
    order: 1; } }
