$primary-color: #e4c30b;

body {
   /* background: #f4f4f4; */
}

#main-nav {
   transition: all 0.5s ease-out;
}

.navbar-shadow {
   box-shadow: inset 0px 31px 150px rgba(0, 0, 0, 0.9);
}
.navbar-border {
   border-bottom: 2px solid $primary-color;
}

.navbar-brand {
   font-size: 1.5rem;
}

#showcase {
   position: relative;
}
#showcase .showcase-content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   background: rgba(0, 0, 0, 0.75);
   box-shadow: inset 0px 100px 200px rgba(0, 0, 0, 0.9);
   color: #fff;
}

.what-icon {
   padding: 0.5rem;
   background: $primary-color;
   color: #333;
   border-radius: 10px;
   margin-right: 0.5rem;
}

.carousel-item {
   height: 300px;
}
.carousel-img-1 {
   background: url('../img/about1.jpg');
   background-position: center;
   background-size: cover;
}
.carousel-img-2 {
   background: url('../img/about2.jpg');
   background-position: center;
   background-size: cover;
}
.carousel-img-3 {
   background: url('../img/about3.jpg');
   background-position: center;
   background-size: cover;
}

#newsletter {
   background: url('../img/newsletter.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}

#about {
   position: relative;
}
#about #about-slides {
   height: 90vh !important;
}
#about .about-content {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   background: rgba(0, 0, 0, 0.75);
   /* box-shadow: inset 0px 100px 200px rgba(0, 0, 0, 0.9); */
   color: #fff;
}
#about .about-text {
   width: 75%;
   margin: 0 auto;
}
#about .next,
#about .prev {
   font-size: 2rem;
}

#contact {
   background: url('../img/contact.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
}
#newsletter .dark-overlay,
#contact .dark-overlay {
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.75);
}

#who .container {
   width: 80%;
   margin-left: 10%;
   position: relative;
}

#testimonial .card:hover {
   background: $primary-color;
}
#testimonial img {
   margin-top: -50px;
   z-index: 99;
}
#testimonial .testimonal-name {
   font-size: 1.5rem;
}
#testimonial .glider-prev,
#testimonial .glider-next {
   margin-top: 100px;
}

@media(max-width: 768px) {
   #about .about-text {
      width: 100%;
   }
}